.cards {
  margin-top: 51px;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
}
