.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  padding: 0 19px;
  display: flex;
  /* opacity: 50%; */
  /* align-items: center;
  justify-content: center; */
}

.modal__open {
  /* display: flex; */
}

.modal__container {
  background-color: #fff;
  margin: auto;
  /* padding-top: 34px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 36px; */
  padding: 0;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  min-height: 330px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  margin-right: 64px;
  margin-bottom: 54px;
  width: 358px;
}

.modal__heading {
  width: 330px;
  height: 23px;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin: 0;
  margin-top: 34px;
  margin-left: 36px;
  margin-right: 64px;
  margin-bottom: 54px;
  border-right-width: 0px;
  border-right-style: solid;
}

.modal_close {
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  justify-self: end;
  background-image: url("../images/close-icon.svg");
  background-color: transparent;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  /* transform: rotate(45deg); */
  border: none;
  background-color: none;
  position: absolute;
}

#title__form {
  margin-bottom: 29.74px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: inset;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

#description__form {
  margin-bottom: 48px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: inset;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.modal__btn {
  height: 50.15px;
  width: 358px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  border-radius: 2px;
  border: none;
}

@media screen and (max-width: 320px) {
  .modal_close {
    /* bottom: calc(100% + 13px); */
    margin-left: -40px;
  }
  .modal__heading {
    margin-top: 25px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 75px;
    height: 22px;
    width: 238px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21.78px;
  }
  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__form {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 45px;
  }

  .modal__btn {
    width: 238px;
    height: 48px;
  }
}
