.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.9s ease, visibility 0.9s ease;
}

.modal_open {
  visibility: visible;
  opacity: 1;
}

.modal__button_close {
  display: none;
}

.modal__button_open {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 0;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  min-height: 330px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  margin-right: 64px;
  margin-bottom: 54px;
  width: 358px;
}

.modal__form_card {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  margin-right: 64px;
  margin-bottom: 54px;
  width: 358px;
}

.modal__heading {
  width: 330px;
  height: 23px;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin: 0;
  margin-top: 34px;
  margin-left: 36px;
  margin-right: 64px;
  margin-bottom: 54px;
  border-right-width: 0px;
  border-right-style: solid;
}

.modal__close {
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url("../images/close-icon-normal.svg");
  background-color: transparent;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  /* transform: rotate(45deg); */
  border: none;
  background-color: none;
  position: absolute;
}

.modal__close:hover {
  opacity: 60%;
}

#title__form {
  margin-bottom: 29.74px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: inset;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

#description__form {
  margin-bottom: 48px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: inset;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.modal__btn {
  height: 50.15px;
  width: 358px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  border-radius: 2px;
  border: none;
}

.modal__image-container {
  position: relative;
  max-width: 75vh;
  max-height: 75vh;
  margin: auto;
}

.modal__image {
  max-height: 540px;
  /* display: block; */
  object-fit: contain;
}

.modal__image-title {
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 320px) {
  .modal__close {
    /* bottom: calc(100% + 13px); */
    /* margin-left: -40px; */
    bottom: calc(96% + 15px);
    background-image: url("../images/close-icon-320.svg");
    left: calc(92% + 7px);
    height: 15px;
    width: 15px;
    /* top: 41px; */
  }
  .modal__heading {
    margin-top: 25px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 75px;
    height: 22px;
    width: 238px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21.78px;
  }
  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__form {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 45px;
  }

  .modal__btn {
    width: 238px;
    height: 48px;
    font-size: 14px;
  }

  .modal__image {
    /* height: 187px; */
    max-width: 240px;
  }
  .modal__image-title {
    margin-top: 10px;
  }

  .modal__input {
    width: 238px;
  }

  .modal__input::placeholder {
    color: #c4c4c4;
    opacity: 0.6;
  }
}
