.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  /* opacity: 50%; */
  /* align-items: center;
  justify-content: center; */
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding-top: 34px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  border-radius: 10px;
  position: relative;
}

.modal__heading {
  color: black;
}

.modal_close {
  justify-self: end;
  background-image: url("../images/close-icon.svg");
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(45deg);
  border: none;
  background-color: none;
  top: 0;
  right: 0;
  position: absolute;
}
