.page {
  font-family: Inter, Arial, sans-serif;
  background-color: black;
}

.page__content{
  /* padding-left: 200px;
  padding-right: 200px; */
  margin-left: 200px;
  margin-right: 200px;
  border: solid red;

}
