.page {
  font-family: Inter, Arial, sans-serif;
  background-color: black;
  color: white;


}

.page__content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.page__section{
  max-width: 880px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.header{
  width: 100%;
  margin-top: 45px;
}





