
.profile{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-left: 19px;
    padding-right: 19px;
  }
  
  .profile__picture{
    height: 120px;
    width: 120px;
    border-radius: 80%;
    object-fit: cover;
    background-position: center;
  }
  
  .profile__info{
    margin-left: 30px;
    display: grid;
    grid-template-areas: 
    "title button"
    "description description";
    grid-template-columns: minmax(auto, 373px) auto;
    max-width: 415px;
    /* max-height: 77px; */
  }
  
  .profile__name{
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
    white-space: nowrap;
    margin-right: 10px;
  }
  
  .profile__subtitle_edit{
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .profile__subtitle{
    margin-top: 7px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    grid-area: description;
    margin: 0;
  }
  
  .profile__edit-button{
    background: transparent url("../images/edit.svg") center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
    /* border: solid #FFFFFF 1px;*/
    border: 2px solid rgba(255, 255, 255, 1)
  }

  .profile__edit-button:hover{
    /* #There's no opacity data from the Figma file */
    opacity: 0.5
  }
  
  .profile__add-button{
    background: transparent url("../images/add.svg") center no-repeat;
    height: 50px;
    width: 150px;
    margin-left: auto;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
  }

  .profile__add-button:hover{
    /* #There's no opacity data from the Figma file */
    opacity: 0.5;
  }
  

  @media screen and (max-width: 800px) {
    .profile__image{
        margin-left: 27px;
    }
}


@media screen and (max-width: 775px) {


    .profile__add-button{
        margin: 0;
        height: 50px;
        margin-left: 19px;
        margin-right: 19px;
        /* margin-left: 73px; */
    }

    
}


@media  screen and (max-width:615px)  {

    .profile__image{
        margin-left: 27px;
    }

    .profile{
        font-size: small;
        width: 282px;
        flex-direction: column;
    }
    
    .profile__info{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 36px;
        margin-left: 19px;
        margin-right: 19px;
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    .profile__name{
        font-size: 22px;
        /* margin-right: 10px; */

    }

    .profile__add-button{
        margin: 0;
        height: 50px;
        width: 100%;
        margin-left: 19px;
        margin-right: 19px;
    }

    .profile__subtitle{
        width: 100%;
        text-align: center;
        margin-bottom: 36px;
        font-size: small;
        /* margin: 0; */
    }

    /* .profile__subtitle_edit{
        display: flex;
        align-items: center;
    } */

    .profile__edit-button{
        width: 18px;
        height: 18px;
    }
}


@media  screen and (max-width:320px)  {

    .profile{
        font-size: small;
        width: 282px;
        flex-direction: column;
    }

    .profile__picture{
        margin-left: 27px;
    }
    
    .profile__info{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 36px;
        margin-left: 19px;
        margin-right: 19px;
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    .profile__name{
        font-size: 22px;
        line-height: 26.63px;
        /* margin-right: 10px; */
    }

    .profile__add-button{
        margin: 0;
        height: 50px;
        width: 100%;
        margin-left: 19px;
        margin-right: 19px;
    }

    .profile__subtitle{
        width: 100%;
        text-align: center;
        margin-bottom: 36px;
        font-size: small;
        margin: 0;
        font-size: 14px;
        line-height: 16.94px;
    }

    .profile__subtitle_edit{
        display: flex;
        align-items: center;
    }

    .profile__edit-button{
        width: 18px;
        height: 18px;
    }

    
}







