.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  max-width: 219px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px;
}

.card__description {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card__button {
  width: 21px;
  height: 18px;
  background: transparent url("../images/heart.svg") center no-repeat;
  border: none;
  cursor: pointer;
}

.card__button_active {
  background-image: url("../images/heart-active.svg");
}

.card__button:hover {
  opacity: 0.5;
}

.card__button_delete {
  width: 18px;
  height: 19.3px;
  background: transparent url("../images/Trash_active.svg");
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__button_delete:hover {
  opacity: 0.5;
}

/* @media screen and (max-width: 615px) {

  .card__list {
    display: grid;
    grid-template-columns: auto;
  }

} */
@media screen and (max-width: 320px) {
  .modal__form_card {
    margin-left: 22px !important;
    margin-right: 22px !important;
  }
}
