.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.9s ease, visibility 0.9s ease;
}

.modal_open {
  visibility: visible;
  opacity: 1;
}

.modal__error {
  /* opacity: 0; */
  /* visibility: hidden; */
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  position: absolute;
  top: calc(39%);
  left: 36px;
  margin-top: 5px;
  margin-bottom: 13px;
  transition: opacity 0.3s;
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  line-height: 14.52px;
}

#description__form_add-error {
  /* visibility: hidden;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  position: absolute;
  top: calc(39%);
  left: 36px;
  margin-top: 5px;
  margin-bottom: 13px;
  transition: opacity 0.3s; */
  top: calc(54%);
}

#description__form-edit-error {
  top: calc(54%);
}

#title__form_add-error {
  top: calc(39%);
}
.modal__error_visible {
  visibility: visible;
  border-bottom-color: red;
  /* opacity: 1; */
}

.delete__container {
  background-color: #fff;
  margin: auto;
  padding: 0;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  min-height: 180px;
}

.avatar__edit_container {
  background-color: #fff;
  margin: auto;
  padding: 0;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  min-height: 180px;
}

.modal__form_avatar {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 0;
  width: 600px;
  margin: solid red;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 0;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  min-height: 330px;
}

.modal__form_delete {
  /* margin-bottom: 0 !important;
  margin-right: 36px !important;
  margin-bottom: 38px !important; */
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 0;
  width: 358px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  margin-right: 64px;
  margin-bottom: 54px;
  width: 358px;
}

.modal__form_card {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  margin-right: 64px;
  margin-bottom: 54px;
  width: 358px;
}

.modal__heading {
  width: 330px;
  height: 23px;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  margin: 0;
  margin-top: 34px;
  margin-left: 36px;
  margin-right: 64px;
  margin-bottom: 54px;
  border-right-width: 0px;
  border-right-style: solid;
}

.modal__close {
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url("../images/close-icon-normal.svg");
  background-color: transparent;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  /* transform: rotate(45deg); */
  border: none;
  background-color: none;
  position: absolute;
}

.modal__heading_close {
  margin-bottom: 36px;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__input {
  margin-bottom: 29.74px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: inset;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

/* .modal__error_visible {
  border-bottom-color: red;
} */
.modal__input_type_error {
  border-bottom-color: rgba(255, 0, 0, 1);
}

#description__form-edit.modal__input_type_error {
  border-bottom-color: rgba(255, 0, 0, 1);
}

/* #title__form {
  margin-bottom: 29.74px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: inset;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

#title__form_add {
  margin-bottom: 29.74px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: inset;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
} */

#description__form-add {
  margin-bottom: 48px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: inset;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

#description__form-edit {
  margin-bottom: 48px;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: inset;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.modal__btn_disabled {
  background-color: #ffffff;
  border: solid 1px #000000;
  color: #000000;
  opacity: 20%;
}

.modal__button_error {
}

.modal__btn_open {
  visibility: visible;
}

.modal__btn {
  height: 50.15px;
  width: 358px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  border-radius: 2px;
  border: none;
}

.modal__btn:hover {
  opacity: 80%;
}

.modal__image-container {
  position: relative;
  max-width: 75vh;
  max-height: 75vh;
  margin: auto;
}

.modal__image {
  max-height: 540px;
  /* display: block; */
  object-fit: contain;
}

.modal__image-title {
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 320px) {
  .modal__close {
    /* bottom: calc(100% + 13px); */
    /* margin-left: -40px; */
    bottom: calc(102% + 2.23px);
    background-image: url("../images/close-icon-320.svg");
    left: calc(90% + 7px);
    height: 26px;
    width: 26px;
  }

  .modal__close-edit {
    bottom: calc(102% + 2.23px);
    left: calc(90% + 7px);
    height: 26px;
    width: 26px;
  }
  .modal__heading {
    margin-top: 25px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 75px;
    height: 22px;
    width: 238px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21.78px;
  }
  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__form {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 45px;
  }

  .modal__btn {
    width: 238px;
    height: 48px;
    font-size: 14px;
  }

  .modal__image {
    /* height: 187px; */
    max-width: 240px;
  }
  .modal__image-title {
    margin-top: 10px;
  }

  .modal__input {
    width: 238px;
  }

  .modal__input::placeholder {
    color: #c4c4c4;
    opacity: 0.6;
  }
}
